<style>
    .select {
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important;
    }
</style>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">item</a></li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="panel panel-default" ng-show="!showModal">
        <div class="panel-heading">
            <div class="col-md-2" ng-show="selected.length>0">
                <button class="btn btn-danger" value="Delete Selected" ng-click="vm.deleteSelected(selected)"> Delete Selected</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-click="open()"><span class="fa fa-plus"></span> New item</button>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control date" placeholder="Search item" ng-model="vm.searchText" ng-change="vm.searchParamChanged()" ng-model-options="{debounce: 1500}">
            </div>
            <div class="col-md-2">
                <label class="check"><input type="checkbox" class="icheckbox" ng-model="vm.check" ng-click="vm.searchParamChanged()" /> Include Inactive</label>
            </div>
            <div class="col-md-2">
                <!--<select class="form-control select" data-selected-text-format="count" ng-options="pagesize as pagesize for pagesize in vm.pageSizes track by pagesize" ng-model="vm.pageSize" ng-change="vm.getPageSize(vm.pageSize)"></select>-->
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:5%"><input type="checkbox" ng-model="selectAll" name="" ng-click="vm.checkAll()" /></th>
                            <th style="width:5%">#</th>
                            <th style="width:50%">Item</th>
                            <th style="width:40%">Price</th>
                            <!--<th style="width:25%">Action</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.itemMeasure | filter:q as results" ng-hide="vm.itemMeasure.length==0" ng-class="item.active ?'hrevert-inactiveLink' :'hrevert-activeLink'">
                            <td><input type="checkbox" ng-model="selected" name="" ng-checked="vm.exist(item)" ng-click="vm.toggleSelection(item, $event)" /></td>
                           
                            <td>{{$index+1}}</td>
                            <td>
                                {{item.itemName}}

                                <div class="hrevert-updatelink-section" ng-show="item.active">
                                    <span><a ng-click="vm.itemMeasureActionChange(item, 1)">Edit </a></span>|
                                    <span><a ng-click="vm.itemMeasureActionChange(item, 2)">Delete</a></span>

                                </div>
                                <div class="hrevert-updatelink-section" ng-show="!item.active">
                                    <span ng-click="vm.activeItemmeasure(item.id)"><a>Activate</a></span>
                                </div>

                            </td>
                            <td>{{item.price}}</td>
                            <!--<td ng-show="item.active">
                                <div class="push-down-10">
                                    <button class="btn btn-default" ng-click="vm.itemMeasureActionChange(item, 1)"><span class="fa fa-pencil"></span> Edit</button>
                                    <button class="btn btn-default" ng-click="vm.itemMeasureActionChange(item, 2)"><span class="fa fa-recycle"></span> Delete</button>
                                </div>
                            </td>
                            <td ng-show="!item.active">
                                <button type="button" class="btn btn-info waves-effect" ng-click="vm.activeItemmeasure(item.id)"> Activate </button>
                            </td>-->
                        </tr>
                        <tr ng-show="vm.products.length==0">
                            <td colspan="7">There is no data.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <div class="row" ng-show="showModal">
        <div class="col-md-12">
            <form class="form-horizontal" name="vm.itemMeasureForm">
                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">item information</a></li>
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="tab-first">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Product*</label>
                                    <div class="col-md-9">
                                        <select class="form-control show-tick date" name="product" data-selected-text-format="count" ng-options="product.id as product.name for product in vm.products" ng-model="vm.activeItemMeasure.productId" ng-model-options="{debounce: 500}" required>
                                            <option class="" value="" style="display:none;">Select Product</option>
                                        </select>
                                        <span ng-show="vm.itemMeasureForm.product.$touched && vm.itemMeasureForm.product.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Measure Unit*</label>
                                    <div class="col-md-9">
                                        <select class="form-control show-tick date" name="measureUnit" data-selected-text-format="count" ng-options="measureUnit.id as measureUnit.measure for measureUnit in vm.measureUnit" ng-model="vm.activeItemMeasure.measureUnitId" required>
                                            <option class="" value="" style="display:none;">Select Measure Unit</option>
                                        </select>
                                        <span ng-show="vm.itemMeasureForm.measureUnit.$touched && vm.itemMeasureForm.measureUnit.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Price*</label>
                                    <div class="col-md-9">
                                        <input type="number" name="price" min="0" class="form-control" placeholder="Price" ng-model="vm.activeItemMeasure.price" required />
                                        <span ng-show="vm.itemMeasureForm.price.$touched && vm.itemMeasureForm.price.$error.required" style="color:red;">Required</span>
                                        <span ng-show="vm.itemMeasureForm.price.$touched && vm.itemMeasureForm.price.$error.number" style="color:red;"> Only integer type value accepted</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="vm.saveItemMeasure(vm.activeItemMeasure)" ng-disabled="vm.itemMeasureForm.$invalid">{{vm.btnSaveItemText}}<span class="fa fa-floppy-o fa-right"></span></button>
                            <button class="btn btn-primary" ng-click="hide()">Cancel <span class="fa fa-floppy-o fa-right"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>