

@{
    ViewBag.Title = "Company Setup";
    Layout = "_Layout";
}
@section Scripts{
@*<script src="~/js/company/app-companySetup.js" asp-append-version="true"></script>
<script src="~/js/company/companySetup.controller.js" asp-append-version="true"></script>
<script src="~/js/company/companySetup.service.js" asp-append-version="true"></script>*@
<script src="~/js/setup/app-setup.js" asp-append-version="true"></script>
<script src="~/js/setup/setup.service.js" asp-append-version="true"></script>
<script src="~/js/setup/setup.controller.js" asp-append-version="true"></script>
<script src="~/manual/angular-messages.js"></script>
<script src="~/manual/angular-animate.min.js"></script>
    <script src="~/manual/angular-aria.min.js"></script>
    <script src="~/manual/ng-img-crop.js"></script>
<script src="~/manual/angularSortable.js"></script>
<script src="~/lib/angular-moment/moment.js"></script>
<script type="text/javascript">
    angular.bootstrap(document.getElementById("companySetup"), ['app-setup']);
</script>
}
@section css{
<link href="~/manual/icon.css" rel="stylesheet" />
<link href="~/manual/tree-control.css" rel="stylesheet" />
<link href="~/manual/tree-control-attribute.css" rel="stylesheet" />
<link href="https://cdn.rawgit.com/alexk111/ngImgCrop/master/compile/minified/ng-img-crop.css" rel="stylesheet" />
}

<div ng-non-bindable>
    <div class="" id="companySetup">
        <ui-view></ui-view>
    </div>
</div>
