@using HrevertCRM.Data.ViewModels.User
@model HrevertCRM.Data.ViewModels.User.LoginInputModel

@{
    ViewBag.Title = "HrevertCRM- Forget Password";
    Layout = "";


}
<link rel="stylesheet" type="text/css" id="theme" href="~/manual/theme/css/theme-default.css" />
<script type="text/javascript" src="~/manual/theme/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/manual/theme/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/manual/theme/js/plugins/bootstrap/bootstrap.min.js"></script>
<div class="login-container lightmode">
    <form asp-controller="Account" asp-action="ForgotPassword" class="form-horizontal" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

        <div class="login-box animated fadeInDown">
            @*<div class="login-logo"></div>*@
            <div class="login-body">
                <div class="login-title"><strong>Enter Email</strong> to reset your account</div>
                <div class="login-title"><div asp-validation-summary="ModelOnly" class="text-danger"></div></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" asp-for="Email" class="form-control" placeholder="E-mail" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                       
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info btn-block">Reset Password</button>
                    </div>
                </div>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2017 Hrevert CRM
                </div>
            </div>
        </div>
    </form>

</div>
