

@{
    ViewBag.Title = "Item Measure";
    Layout = "_Layout";
}
@section Scripts{

    <script src="~/js/itemmeasure/app-itemMeasure.js" asp-append-version="true"></script>
    <script src="~/js/itemmeasure/itemMeasure.controller.js" asp-append-version="true"></script>
    <script src="~/js/itemmeasure/itemMeasure.service.js" asp-append-version="true"></script>
    <script src="~/manual/angular-messages.js"></script>
    <script src="~/manual/angularSortable.js"></script>
    <script src="~/manual/angular-animate.min.js"></script>
    <script src="~/manual/angular-aria.min.js"></script>
<script type="text/javascript">
    angular.bootstrap(document.getElementById("itemMeasure"), ['app-itemMeasure']);
</script>
}
@section css{

}
<div ng-non-bindable>
    <div class="" id="itemMeasure">
        <ui-view></ui-view>
    </div>
</div>
