

@{
    ViewBag.Title = "Products";
    Layout = "_layout";
}
@section Scripts{
<script src="~/js/resetPassword/app-resetPassword.js" asp-append-version="true"></script>
<script src="~/js/resetPassword/resetPassword.controller.js" asp-append-version="true"></script>
<script src="~/js/resetPassword/resetPassword.service.js" asp-append-version="true"></script>
<link rel="stylesheet" type="text/css" id="theme" href="~/manual/theme/css/theme-default.css" />
<script type="text/javascript" src="~/manual/theme/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/manual/theme/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/manual/theme/js/plugins/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript">
        angular.bootstrap(document.getElementById("resetPassword"), ['app-resetPassword']);
    </script>

}
@section css{
    <link href="~/manual/icon.css" rel="stylesheet" />
}
<div ng-non-bindable>
    <div class="" id="resetPassword">
        <ui-view></ui-view>
    </div>
</div>
