

@{
    ViewBag.Title = "Sales Order";
    Layout = "_Layout";
}
@section Scripts{
    <script src="~/js/salesorder/app-salesOrder.js" asp-append-version="true"></script>
    <script src="~/js/salesorder/salesOrder.controller.js" asp-append-version="true"></script>
    <script src="~/js/salesorder/salesOrder.service.js" asp-append-version="true"></script>
   
    <script src="~/manual/angularSortable.js"></script>
    <script src="~/manual/paging.min.js"></script>
    <script src="~/lib/angular-moment/moment.js"></script>
    <script src="~/manual/angular-bootstrap-datetimepicker-1.1.4/datetimepicker.js"></script>
    <script src="~/manual/angular-bootstrap-datetimepicker-1.1.4/datetimepicker.templates.js"></script>
    <script src="~/manual/dateTimeInput.js"></script>
    <link href="~/manual/angular-bootstrap-datetimepicker-1.1.4/datetimepicker.css" rel="stylesheet" />

    <script type="text/javascript">
        angular.bootstrap(document.getElementById("salesOrder"), ['app-salesOrder']);
    </script>
}
@section css{
    <link href="~/manual/icon.css" rel="stylesheet" />
}
<div ng-non-bindable>
    <div class="" id="salesOrder">
        <ui-view></ui-view>
    </div>
</div>
