<style>
    .select {
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important;
    }
    .cropAreaForBanner {   
        background: #E4E4E4;
        overflow: hidden;
        width: 495px;
        height: 300px;
        }

    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 495px;
        height: 300px;
    }

    .preview-image {
        margin: 25px auto;
        background: #E4E4E4;
    }
</style>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Featured Item</a></li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="panel panel-default" ng-show="!showModal">
        <div class="panel-heading">
            <div class="col-md-2" ng-show="selected.length>0">
                <button class="btn btn-danger" value="Delete Selected" ng-click="vm.deleteSelected(selected)"> Delete Selected</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-click="open()"><span class="fa fa-plus"></span> New Featured Item</button>
            </div>
            <div class="col-md-6">
                <!--<input type="text" class="form-control date" placeholder="Search Delivery" ng-model="q" ng-change="vm.deliveryMethodText(q,vm.check)" ng-model-options="{debounce: 1500}">-->
            </div>
            <div class="col-md-2">
                <!--<label class="check"><input type="checkbox" class="icheckbox" ng-model="vm.check" ng-click="vm.includeInactiveDeliveryRate($event, vm.check)" /> Include Inactive</label>-->
            </div>
            <div class="col-md-2">
                <!--<select class="form-control show-tick date" data-selected-text-format="count" ng-options="pagesize as pagesize for pagesize in vm.pageSizes" ng-model="vm.pageSize" ng-change="vm.getPageSize(vm.pageSize)"></select>-->
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:5%"><input type="checkbox" ng-model="selectAll" name="" ng-click="vm.checkAll()" /></th>
                        <th style="width:5%">#</th>
                        <th style="width:20%">Featured Item</th>
                        <th style="width:10%">Image Type</th>
                        <!--<th style="width:10%">Action</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="featuredItem in vm.allFeaturedItemList | filter:q as results" ng-hide="vm.allFeaturedItemList.length==0" ng-class="featuredItem.active ?'hrevert-inactiveLink' :'hrevert-activeLink'">
                        <td><input type="checkbox" ng-model="selected" name="" ng-checked="vm.exist(featuredItem)" ng-click="vm.toggleSelection(featuredItem, $event)" /></td>
                        <td>{{$index+1}}</td>
                        <td>
                            {{featuredItem.itemName}}
                            <div class="hrevert-updatelink-section">
                                <span><a ng-click="vm.editFeaturedItem(featuredItem, featuredItem.active)">Edit </a></span>
                            </div>
                            
                        </td>
                        <td>
                            <div ng-if="featuredItem.imageType==1">Full Width Image</div>
                            <div ng-if="featuredItem.imageType==2">Half Width Image</div>
                            <div ng-if="featuredItem.imageType==3">Quater Width Image</div>
                        </td>
                        <!--<td>
                            <div class="push-down-10">
                                <button class="btn btn-default" ng-click="vm.editFeaturedItem(featuredItem, featuredItem.active)"><span class="fa fa-pencil"></span> Edit</button>-->
                                <!--<button class="btn btn-default" ng-click="vm.deliveryRateActionChange(deliveryRate, 2)"><span class="fa fa-recycle"></span> Delete</button>-->
                            <!--</div>
                        </td>-->
                    </tr>
                    <tr ng-show="vm.allFeaturedItemList.length==0">
                        <td colspan="7">There is no data.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-show="showModal">
        <div class="col-md-12">
            <form class="form-horizontal" name="vm.featuredItemForm" novalidate>
                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Featured Item information</a></li>
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="tab-first">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Image Type*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <select class="form-control" ng-options="imgOption.id as imgOption.value for imgOption in vm.imageOptionForBanners" ng-change="vm.changeImageSelectOption(vm.activeFeaturedItem.imageType,vm.activeFeaturedItem.itemId)" ng-disabled="vm.imageTypeOption" ng-model="vm.activeFeaturedItem.imageType" required>
                                            <option class="" value="">Select Image Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Prodcut Category*</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-options="category.id as category.name for category in vm.parentProductCategory" ng-change="vm.changeImageSelectOption(vm.activeFeaturedItem.imageType,vm.activeFeaturedItem.itemId)" ng-disabled="vm.productCategoryOption" ng-model="vm.activeFeaturedItem.itemId" required>
                                            <option value="" style="display: none">Select Product Category</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-12" ng-show="vm.showBannerImages">
                                    <div ng-if="vm.activeFeaturedItem.imageType == 1">
                                        <div>
                                            <img ng-src="{{vm.fullWidthImageUrls}}" alt="" class="img-responsive" />
                                            <button class="btn btn-primary waves-effect" ng-click="vm.removeFeatureItemBanner(vm.activeFeaturedItem.id,vm.activeFeaturedItem.imageType,vm.fullWidthImageUrls)">
                                                <span class="fa fa-recycle"></span> Remove Image
                                            </button>
                                        </div>
                                    </div>
                                    <div ng-if="vm.activeFeaturedItem.imageType == 2">
                                        <div ng-repeat="banner in vm.activeFeaturedItem.halfWidthImageUrls">
                                            <div class="col-md-6">
                                                <img ng-src="{{banner}}" alt="" class="img-responsive" />
                                                <button class="btn btn-primary waves-effect" ng-click="vm.removeFeatureItemBanner(vm.activeFeaturedItem.id,vm.activeFeaturedItem.imageType,banner)">
                                                    <span class="fa fa-recycle"></span> Remove Image
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="vm.activeFeaturedItem.imageType == 3">
                                        <div ng-repeat="banner in vm.activeFeaturedItem.quaterWidthImageUrls">
                                            <div class="col-md-3">
                                                <img ng-src="{{banner}}" alt="" class="img-responsive" />
                                                <button class="btn btn-primary waves-effect" ng-click="vm.removeFeatureItemBanner(vm.activeFeaturedItem.id,vm.activeFeaturedItem.imageType,banner)">
                                                    <span class="fa fa-recycle"></span> Remove Image
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12" ng-show="vm.imageSaveForm">
                                    <div>Select an image file:* <input type="file" id="fileInputForBannerImage" class="fileInput" onchange="angular.element(this).scope().fileNameChangedForBanner(files)" required /></div>  <!--onchange="angular.element(this).scope().fileNameChanged(files)" aspect-ratio="vm.resultImageSize.aspectratio result-image-size='[{w: vm.resultImageSize.w , h: vm.resultImageSize.h}]' -->
                                    <div class="col-lg-6">
                                        <h3>Crop Area for {{vm.selectedOption.name}}</h3>
                                        <div class="cropAreaForBanner">
                                            <img-crop image="bannerImage"
                                                      area-type="rectangle"
                                                      aspect-ratio="vm.resultImageSize.aspectratio"
                                                      result-width="{{vm.resultImageSize.w}}"
                                                      result-height="{{vm.resultImageSize.h}}"
                                                      result-x="{{vm.resultImageSize.w}}"
                                                      result-y="{{vm.resultImageSize.h}}"
                                                      original-width="{{vm.resultImageSize.w}}"
                                                      original-height="{{vm.resultImageSize.h}}"
                                                      original-crop-x="{{vm.resultImageSize.w}}"
                                                      original-crop-y="{{vm.resultImageSize.h}}"
                                                      original-crop-width="{{vm.resultImageSize.w}}"
                                                      original-crop-height="{{vm.resultImageSize.h}}"
                                                      result-image-size="[{w: vm.resultImageSize.w, h: vm.resultImageSize.h}]"
                                                      result-image='bannerCroppedImage'
                                                      result-image-array='bannerArray'>
                                            </img-crop>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-2 col-lg-4">
                                        <h3>Preview Image:</h3>
                                        <div>
                                            <img id="img" ng-src="{{bannerImage}}" width="{{vm.resultImageSize.w}}" height="{{vm.resultImageSize.h}}" class="img-responsive" />
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="vm.saveFeatureItemBannerImage(vm.activeFeaturedItem)" ng-show="vm.showSaveBannerBtn">{{vm.featuredItemBtnText}}<span class="fa fa-floppy-o fa-right"></span></button>
                            <button class="btn btn-primary" ng-show="vm.showImageAddBtn" ng-click="vm.saveImagesForBanner(bannerCroppedImage,vm.activeFeaturedItem.imageType)"  ng-disabled="vm.featuredItemForm.$invalid">Save <span class="fa fa-floppy-o fa-right"></span></button>
                            <button class="btn btn-primary" ng-show="vm.showImageCloseBtn" ng-click="hide()">Cancel Edit <span class="fa fa-floppy-o fa-right"></span></button>
                            <button class="btn btn-primary" ng-show="vm.showCloseBannerBtn" ng-click="hide()">Cancel <span class="fa fa-floppy-o fa-right"></span></button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>