<style>
    .select {
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important;
    }
</style>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">customer</a></li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="panel panel-default" ng-show="!vm.showModal">
        <div class="panel-heading">
            <div class="col-md-2" ng-show="selected.length>0">
                <button class="btn btn-danger" value="Delete Selected" ng-click="vm.deleteSelected(selected)"> Delete Selected</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-click="open()"><span class="fa fa-plus"></span> New customer</button>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Search Customer" ng-model="vm.searchText" ng-change="vm.searchParamChanged()" ng-model-options="{debounce: 1500}">
            </div>
            <div class="col-md-2">
                <label class="check"><input type="checkbox" class="icheckbox" ng-model="vm.check" ng-click="vm.searchParamChanged()" /> Include Inactive</label>
            </div>
            <div class="col-md-2">
                <select class="form-control show-tick date" data-selected-text-format="count" ng-options="pagesize as pagesize for pagesize in vm.pageSizes track by pagesize" ng-model="vm.pageSize" ng-change="vm.searchParamChanged()"></select>
            </div>
        </div>
        <div class="panel-body" >
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th ><input type="checkbox" ng-model="selectAll" name="" ng-click="vm.checkAll()" /></th>
                            <th>#</th>
                            <th>Customer Code</th>
                            <th>Customer Name</th>
                            <th>Email</th>
                            <!--<th>Action</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in vm.customers | filter:q as results" ng-hide="vm.customers.length==0" ng-class="customer.active ?'hrevert-inactiveLink' :'hrevert-activeLink'">
                            <td><input type="checkbox" ng-model="selected" name="" ng-checked="vm.exist(customer)" ng-click="vm.toggleSelection(customer)" /></td>
                            <td>{{($index+1)+(vm.pageNumber-1)* vm.pageSize}}</td>
                            <td>
                                {{customer.customerCode}}
                                <div class="hrevert-updatelink-section" ng-show="customer.active">
                                    <span><a ng-click="vm.actionChanged(customer, 1)">Edit </a></span>|
                                    <span><a ng-click="vm.actionChanged(customer, 2)">Delete</a></span>

                                </div>
                                <div class="hrevert-updatelink-section" ng-show="!customer.active">
                                    <span ng-click="vm.activateCustomer(customer)"><a>Activate</a></span>
                                </div>
                            </td>

                            <td>{{customer.displayName}}</td>
                            <td>{{customer.addresses[0].email}}</td>
                            <!--<td ng-show="customer.active">
                                <div class="push-down-10">
                                    <button class="btn btn-default" ng-click="vm.actionChanged(customer, 1)"><span class="fa fa-pencil"></span> Edit</button>
                                    <button class="btn btn-default" ng-click="vm.actionChanged(customer, 2)"><span class="fa fa-recycle"></span> Delete</button>
                                </div>-->
                                <!--<select class="form-control select" ng-model="action" ng-options="action.id as action.name for action in vm.actionItems" ng-change="vm.actionChanged($event, customer, action)">
                        <option class="" style="display: none" value="">Option</option>
                    </select>-->
                            <!--</td>
                            <td ng-show="!customer.active">
                                <button type="button" class="btn btn-info waves-effect" ng-click="vm.activateCustomer(customer)"> Activate</button>
                            </td>-->
                        </tr>
                        <tr ng-show="vm.products.length==0">
                            <td colspan="7">There is no data.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
            <nav class="pull-right" ng-show="vm.totalPage>=2">
                <div paging
                     page="vm.pageNumber"
                     page-size="1"
                     total="vm.totalPage"
                     show-prev-next="true"
                     show-first-last="true"
                     text-first="&laquo;"
                     text-last="&raquo;"
                     text-next="&rsaquo;"
                     text-prev="&lsaquo;"
                     text-title-page="Page {page}"
                     text-title-first="First Page"
                     text-title-last="Last Page"
                     text-title-next="Next Page"
                     text-title-prev="Previous"
                     paging-action="vm.pageChanged(page)">
                </div>
            </nav>
        </div>

    </div>

    <div class="row" ng-show="vm.showModal">
        <div class="col-md-12">
            <form class="form-horizontal" name="vm.customerForm">
                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-first" ng-click="vm.customerInformation()" role="tab" data-toggle="tab">Customer information</a></li>
                        <li><a href="#tab-second" role="tab" ng-click="vm.addressInformation()" data-toggle="tab">Addressess</a></li>
                        <!--<li><a href="#tab-third" role="tab" data-toggle="tab">Tax Information</a></li>-->
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="tab-first">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Customer Code</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="vm.editingItem.customerCode" placeholder="XXXXXXXX" maxlength="{{vm.customerCodeLength}}" ng-disabled="vm.customerCode" ng-change="vm.validateCustomerCode(vm.editingItem.customerCode)" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Title*</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="title" ng-model="vm.editingItem.billingAddress.title" ng-options="title.id as title.name for title in vm.customerTitles" required>
                                            <option class="" value="">Select Title</option>
                                        </select>
                                        <span ng-show="vm.customerForm.title.$touched && vm.customerForm.title.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">First Name*</label>
                                    <div class="col-md-9">
                                        <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="vm.editingItem.billingAddress.firstName" ng-change="vm.nameChange(vm.editingItem.billingAddress.firstName,vm.editingItem.billingAddress.lastName)" required />
                                        <span ng-show="vm.customerForm.firstName.$touched && vm.customerForm.firstName.$error.required" style="color:red;">Required</span>
                                    </div>
                                    </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Middle Name</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" class="form-control" placeholder="Middle Name" ng-model="vm.editingItem.billingAddress.middleName" />
                                    </div>
                                </div>
                                </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Last Name*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="vm.editingItem.billingAddress.lastName" ng-change="vm.nameChange(vm.editingItem.billingAddress.firstName,vm.editingItem.billingAddress.lastName)" required />
                                        <span ng-show="vm.customerForm.lastName.$touched && vm.customerForm.lastName.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Display Name</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" name="displayName" class="form-control" ng-model="vm.editingItem.displayName" placeholder="Display Name" required ng-disabled="vm.customerDisplayName" />
                                        <span ng-show="vm.customerForm.displayName.$touched && vm.customerForm.displayName.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Suffix*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <select class="form-control" name="suffix" ng-model="vm.editingItem.billingAddress.suffix" ng-options="suffix.id as suffix.name for suffix in vm.customerSuffixes" required>
                                            <option class="" value="">Select Suffix</option>
                                        </select>
                                        <span ng-show="vm.customerForm.suffix.$touched && vm.customerForm.suffix.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Zone*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <select class="form-control" name="zone" ng-model="vm.editingItem.billingAddress.deliveryZoneId" ng-options="zone.id as zone.zoneName for zone in vm.zone" required>
                                            <option class="" value="">Select Zone</option>
                                        </select>
                                        <span ng-show="vm.customerForm.zone.$touched && vm.customerForm.zone.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Email*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="vm.editingItem.billingAddress.email" ng-disabled="vm.customerEmail" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" required />
                                        <span ng-show="vm.customerForm.email.$touched && vm.customerForm.email.$error.required" style="color:red;">Required</span>
                                        <span ng-show="vm.customerForm.email.$touched && vm.customerForm.email.$error.email" style="color:red;">Invalid Email</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Customer Level*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <select class="form-control" name="customerLevel" ng-model="vm.editingItem.customerLevelId" ng-options="level.id as level.name for level in vm.customerLevel" required>
                                            <option class="" value="">Select Customer Level</option>
                                        </select>
                                        <span ng-show="vm.customerForm.customerLevel.$touched && vm.customerForm.customerLevel.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Telephone</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" placeholder="Telephone" class="form-control" ng-model="vm.editingItem.billingAddress.telephone">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Mobile Phone*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" name="mobileNumber" placeholder="Mobile Number" class="form-control" ng-model="vm.editingItem.billingAddress.mobilePhone" required>
                                        <span ng-show="vm.customerForm.mobileNumber.$touched && vm.customerForm.mobileNumber.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Website</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" placeholder="Website" class="form-control" ng-model="vm.editingItem.billingAddress.website">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Tax Reg No.</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" placeholder="Tax Reg No." class="form-control" ng-model="vm.editingItem.taxRegNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Password*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="password" name="password" placeholder="Password" class="form-control" ng-model="vm.editingItem.password" required>
                                        <span ng-show="vm.customerForm.password.$touched && vm.customerForm.password.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Confirm Password*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control" ng-model="vm.editingItem.confirmPassword" ng-change="vm.passwordValidator(vm.editingItem.password,vm.editingItem.confirmPassword)" ng-required="vm.customerConfirmPassword===true">
                                        <span ng-show="vm.customerForm.confirmPassword.$touched && vm.customerForm.confirmPassword.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Zip Code*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" name="zipCode" class="form-control date" placeholder="Zip code" ng-model="vm.editingItem.billingAddress.zipCode" required>
                                        <span ng-show="vm.customerForm.zipCode.$touched && vm.customerForm.zipCode.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Address Line1*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" name="addressLine1" class="form-control date" placeholder="Address Line 1" ng-model="vm.editingItem.billingAddress.addressLine1" required>
                                        <span ng-show="vm.customerForm.addressLine1.$touched && vm.customerForm.addressLine1.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Address Line2</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" class="form-control date" placeholder="Address Line 2" ng-model="vm.editingItem.billingAddress.addressLine2">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">City*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" name="city" class="form-control date" placeholder="City" ng-model="vm.editingItem.billingAddress.city" required>
                                        <span ng-show="vm.customerForm.city.$touched && vm.customerForm.city.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">State*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" name="state" class="form-control date" placeholder="State" ng-model="vm.editingItem.billingAddress.state" required>
                                        <span ng-show="vm.customerForm.state.$touched && vm.customerForm.state.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-3 control-label">Country*</label>
                                    <div class="col-md-9 col-xs-12">
                                        <select class="form-control show-tick date" name="country"
                                                ng-model="vm.editingItem.billingAddress.countryId" ng-options="country.id as country.name for country in vm.countries" required>
                                            <option class="" style="display: none" value="">Select Country </option>
                                        </select>
                                        <span ng-show="vm.customerForm.country.$touched && vm.customerForm.country.$error.required" style="color:red;">Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align:center;">
                                <div class="form-group col-md-4">
                                        <label class="control-label"> Enable Prepay <input type="checkbox" class="icheckbox" ng-model="vm.editingItem.isPrepayEnabled" style="margin-left:20px;"/></label>
                                </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Enable Cash On Delivery <input type="checkbox" class="icheckbox" ng-model="vm.editingItem.isCodEnabled" style="margin-left:20px;"/> </label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label"> Web Active <input type="checkbox" class="icheckbox" ng-model="vm.editingItem.webActive" style="margin-left:20px;"/></label>
                                    </div>
                                </div>
                            </div>
                       
<!-- begining of address tab-->
                        <div class="tab-pane" id="tab-second">
                            <div class="table-responsive">
                                <table class="table table-condensed table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Street</th>
                                            <th>City/Town</th>
                                            <th>State</th>
                                            <th>Address Type</th>
                                            <th>Is Default</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="address in vm.editingItem.addresses | filter:q as results">
                                            <td ng-click="vm.addressEdit(address)">{{$index + 1}}</td>
                                            <td ng-click="vm.addressEdit(address)">{{address.addressLine1}}</td>
                                            <td ng-click="vm.addressEdit(address)">{{address.city}}</td>
                                            <td ng-click="vm.addressEdit(address)">{{address.state}}</td>
                                            <td ng-click="vm.addressEdit(address)">
                                                <div ng-if="address.addressType==2">Shipping</div>
                                                <div ng-if="address.addressType==3">Contact</div>
                                            <td ng-click="vm.addressEdit(address)">
                                                <div ng-if="address.isDefault==true">True</div>
                                                <div ng-if="address.isDefault==false">False</div>
                                            </td>
                                            <td>
                                                <span ng-if="address.active==true" class="glyphicon glyphicon-remove" ng-click="vm.removeRow(address,$index)"></span>
                                                <button class="btn btn-primary" ng-if="address.active==false" ng-click="vm.activateAddress(address.id)">Activate</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <button type="button" class="btn btn-primary waves-effect" ng-click="vm.newAddressDialog(vm.showHideButtonText)">{{vm.showHideButtonText}}</button>
                            <br />
                            <div ng-hide="vm.newAddressShow === 'false'" ng-show="vm.newAddressShow === 'true'">
<!--begining of nested form-->
                                <ng-form name="vm.address" isolate-form>
                                <div class="row clearfix" style="padding:10px;" >
                                    <div class="col-md-1 form-control-label">
                                        <label for="firstName" style="white-space: nowrap;">First Name*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" name="addressfirstName" class="form-control date" placeholder="First Name" ng-model="vm.newAddress.firstName" required>
                                                <span ng-show="vm.address.addressfirstName.$touched && vm.address.addressfirstName.$error.required" style="color:red;">Required</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-1 form-control-label">
                                        <label for="middleName" style="white-space: nowrap;">Middle Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" name="middleName" class="form-control date" placeholder="Middle Name" ng-model="vm.newAddress.middleName">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1 form-control-label">
                                        <label for="lastName" style="white-space: nowrap;">Last Name*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" name="lastName" class="form-control date" placeholder="Last Name" ng-model="vm.newAddress.lastName" required>
                                                <span ng-show="vm.address.lastName.$touched && vm.address.lastName.$error.required" style="color:red;">Required</span>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="row clearfix" style="padding:10px;">
                                    <div class="col-md-1 form-control-label">
                                        <label for="mobileNumber" style="white-space: nowrap;">Mobile Number*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" name="mobileNumber" class="form-control date" placeholder="Mobile Number" ng-model="vm.newAddress.mobilePhone" required>
                                                <span ng-show="vm.address.mobileNumber.$touched && vm.address.mobileNumber.$error.required" style="color:red;">Required</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-1 form-control-label">
                                        <label for="telephone" style="white-space: nowrap;">Telephone</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" class="form-control date" placeholder="Telephone" ng-model="vm.newAddress.telephone">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1 form-control-label">
                                        <label for="lastName" style="white-space: nowrap;">Fax</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" class="form-control date" placeholder="Fax Number" ng-model="vm.newAddress.fax">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row clearfix" style="padding:10px;">
                                    <div class="col-md-1 form-control-label">
                                        <label for="email" style="white-space: nowrap;">Email*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="email" name="email" class="form-control date" placeholder="Email address" ng-disabled="vm.newAddressEmail" ng-model="vm.newAddress.email" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" required>
                                                <span ng-show="vm.address.email.$touched && vm.address.email.$error.required" style="color:red;">Required</span>
                                                <span ng-show="vm.address.email.$touched && vm.address.email.$error.email" style="color:red;">Invalid Email</span>                                            </div>
                                          
                                        </div>
                                    </div>

                                    <div class="col-md-1 form-control-label">
                                        <label for="telephone" style="white-space: nowrap;">Zip Code*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" name="zipCode" class="form-control date" placeholder="Zip code" ng-model="vm.newAddress.zipCode" required>
                                                <span ng-show="vm.address.zipCode.$touched && vm.address.zipCode.$error.required" style="color:red;">Required</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-1 form-control-label">
                                        <label for="lastName" style="white-space: nowrap;">Addresss Line 1*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" name="address" class="form-control date" placeholder="Address line 1" ng-model="vm.newAddress.addressLine1" required>
                                                <span ng-show="vm.address.address.$touched && vm.address.address.$error.required" style="color:red;">Required</span>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="row clearfix" style="padding:10px;">
                                    <div class="col-md-1 form-control-label">
                                        <label for="addressLine2" style="white-space: nowrap;">Address Line 2</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" class="form-control date" placeholder="Address line 2" ng-model="vm.newAddress.addressLine2">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1 form-control-label">
                                        <label for="city" style="white-space: nowrap;">City*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" name="city" class="form-control date" placeholder="City" ng-model="vm.newAddress.city" required>
                                                <span ng-show="vm.address.city.$touched && vm.address.city.$error.required" style="color:red;">Required</span>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-1 form-control-label">
                                        <label for="state" style="white-space: nowrap;">State*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <input type="text" name="state" class="form-control date" placeholder="State" ng-model="vm.newAddress.state" required>
                                                <span ng-show="vm.address.state.$touched && vm.address.state.$error.required" style="color:red;">Required</span>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="row clearfix" style="padding:10px;">
                                    <div class="col-md-1 form-control-label">
                                        <label for="country" style="white-space: nowrap;">Country*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <select class="form-control show-tick date" name="country"
                                                        ng-model="vm.newAddress.countryId" ng-options="country.id as country.name for country in vm.countries" required>
                                                    <option class="" style="display: none" value="" required>Select Country </option>
                                                </select>
                                                <span ng-show="vm.address.country.$touched && vm.address.country.$error.required" style="color:red;">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1 form-control-label">
                                        <label for="telephone" style="white-space: nowrap;">Address Type*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-line form-inline-spacing">
                                                <select class="form-control show-tick date" name="addressType"
                                                        ng-model="vm.newAddress.addressType" ng-options="add.id as add.name for add in vm.customerAddressType" required>
                                                    <option class="" style="display: none" value="" required>Select Address Type</option>
                                                </select>
                                                <span ng-show="vm.newAddress.addressType.$touched && vm.newAddress.addressType.$error.required" style="color:red;">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="demo-checkbox">
                                            
                                            <label for="basic_checkbox_6">Is Default</label>
                                            <input type="checkbox" id="basic_checkbox_6" ng-model="vm.newAddress.isDefault" style="margin-left: 53px;"/>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="col-md-6"></div>

                                    <div class="col-md-6">
                                        <button class="btn btn-primary waves-effect pull-right" ng-show="vm.showAddNew" ng-click="vm.addNewAddress(vm.newAddress)"> Add New</button>
                                   
                                        <button type="button" class="btn btn-primary waves-effect pull-right" ng-show="vm.updateAddressButton" ng-click="vm.updateAddress(vm.newAddress)"><span class="fa fa-plus"></span> Update</button>

                                    </div>

                                </div>
                                </ng-form>
                            </div>
                        </div>
                        <!--<div class="tab-panel" id="tab-third">
                            this is test
                        </div>-->
                    </div>
                    <div class="panel-footer">
                        <div class="pull-right" ng-show="vm.buttonBar">
                            <button class="btn btn-primary" ng-click="vm.updateCustomer(vm.editingItem)">{{vm.btnCustomerSaveText}}<span class="fa fa-floppy-o fa-right"></span></button>
                            <button class="btn btn-primary" ng-click="hide()">Cancel <span class="fa fa-floppy-o fa-right"></span></button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .form-inline-spacing{
            padding: 15px;
            margin-top: -21px;
    }
</style>
<!-- END PAGE CONTENT WRAPPER -->