<!DOCTYPE html>
<html>
<head>
    <title>pricingrule</title>

    <link href="../../manual/kendoui/styles/site.css" rel="stylesheet" />
    <link href="../../manual/kendoui/styles/kendo.material.min.css" rel="stylesheet" />
    <link href="../../manual/kendoui/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="../../manual/kendoui/styles/kendo.default.min.css" rel="stylesheet" />

    <script src="../../manual/kendoui/js/kendomain.js"></script>
    <script src="../../manual/kendoui/js/kendo.all.min.js"></script>
    <script src="../../manual/kendoui/js/pricingRule.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="demo-section k-content">
                    <h4>Manage Pricing Rule</h4>
                    <div id="pricingRule"></div>
                </div>
            </div>
        </div>
    </div>
    


    <style>
        #pricingRule {
            overflow: visible;
            background-color: transparent;
        }

        .k-content {
            background-color: transparent;
        }
    </style>

</body>
</html>